@media(max-width: 620px){
    .cabecalho{
        padding: 30px 0;
    }

    .cavaleiros-slider{
        padding: 0 15px;
        gap: 10px;
    }

    .btn-seta{
        width: 20px;
        height: 20px;
        padding: 20px;
       
    }

    .lista-cavaleiros{
        height: 480px;
    }
}